{% extends "::base.html.twig" %}
{# for include variables from controllers should be encrusted into a block tag #}
{% block body %}

    <h1 class="htitle">Hola soy la vista para user</h1>
    <br>
    {{ fName }}

{% endblock %}
